<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="header">
  <form action="/home" id="spaces" class="signed-in-header" method="get">
    <input class="btn" type="submit" name="spaces" value="Spaces">
  </form>
  <form action="/requests" id="requestbutton" class="signed-in-header" method="get">
    <input class="btn" type="submit" name="request" value="Requests">
  </form>
  <form action="/signout" id="signoutbutton" class="signed-in-header" method="post">
    <input class="btn" type="submit" name="signout" value="Sign out">
  </form>
</div>

</body>

</html>
