<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">

    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
          <h1>RocksBnB - feel at home, anywhere</h1>
            <p>Welcome back to RocksBnB</p>
            <p><%=name%></p>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
