<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">

    <% include ../partials/head %>
</head>
<body >

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
          <h1>RocksBnB - feel at home, anywhere</h1>
            <p>Welcome back to RocksBnB</p>
            <p><%=name%></p>
        </div>

        <form action="/newspace" id="newspace" class="newspace" method="post">
          <input type="submit" value="New Space"><br>
        </form>

    </main>

      <div>
        What is this {{test}}
      </div>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
