<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="signup.js"></script>
  <script src="components/angular-complete/angular.js"
        type="text/javascript"></script>
  <script src="components/angular-complete/angular-resource.js"
        type="text/javascript"></script>
  <script src="app.js"
        type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">

    <% include ../partials/signedinheader %>
</head>
<body >

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
          <h1>RocksBnB - feel at home, anywhere</h1>
            <p>Welcome back to RocksBnB</p>
            <p><%=name%></p>
        </div>

        <form action="/newspace" id="newspace" class="newspace" method="post">
          <input type="submit" value="New Space"><br>
        </form>

    </main>

      <div ng-repeat="item in data">
        <br>
        <li> {{item.name}} {{item.availableDates}} <button type="button">Book Me !</button>  </li>
      </div>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
