<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" ng-app="signUp" ng-controller="UserCreation">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Feel at home, anywhere</h1>
            <p>Welcome back to RocksBnB</p>
            <p><%=name%></p>
        </div>

        <form action="/newspace" id="newspace" class="newspace" method="post">
          <input type="submit" value="New Space"><br>
        </form>

    </main>

      <div>
        What is this {{test}}
      </div>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
