<main>
    <div class="jumbotron">
        <h1>Feel at home, anywhere</h1>
        <p>Login to RocksBnB</p>
    </div>

    <form action="/login" id="loginform" class="loginform" method="post">
      <input type="email" name="email" placeholder="Email address"><br>
      <input type="password" name="password" placeholder="Password"><br>
      <input type="submit" name="submit" value="Submit">
    </form>

</main>
