<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="signup.js"></script>
  <script src="components/angular-complete/angular.js"
        type="text/javascript"></script>
  <script src="components/angular-complete/angular-resource.js"
        type="text/javascript"></script>
  <script src="app.js"
        type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
    <% include ../partials/signedinheader %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>List a space</h1>
            <p></p>
        </div>

        <form action="/newspace/save" id="newspaceform" class="newspaceform" method="post">
          <input type="text" name="spacename" placeholder="Space Name"><br>
          <input type="text" name="description" placeholder="Description"><br>
          <input type="number" name="price" placeholder="Price"><br>
          <input type="date" name="startdate"><br>
          <input type="date" name="enddate"><br>
          <input type="submit" value="Submit"><br>
        </form>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
