<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>List a space</h1>
            <p></p>
        </div>

        <form action="/newspace/save" id="newspaceform" class="newspaceform" method="post">
          <input type="text" name="spacename" placeholder="Space Name"><br>
          <input type="text" name="description" placeholder="Description"><br>
          <input type="number" name="price" placeholder="Price"><br>
          <input type="date" name="startdate"><br>
          <input type="date" name="enddate"><br>
          <input type="submit" value="Submit"><br>
        </form>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
