<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="style.css">
</head>
<body class="container">

    <header>
      <% include ../partials/signedinheader %>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
            <h1>List a space</h1>
            <p></p>
        </div>

        <form action="/newspace/save" id="newspaceform" class="newspaceform" method="post">
          <input class="add-space-fields" type="text" name="spacename" placeholder="Space Name"><br>
          <input class="add-space-fields description" type="text" name="description" placeholder="Description"><br>
          <input class="add-space-fields" type="number" name="price" placeholder="Price"><br>
          <input class="add-space-fields" type="date" name="startdate"><br>
          <input class="add-space-fields" type="date" name="enddate"><br>
          <input class="btn" type="submit" value="Submit"><br>
        </form>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
