<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="signup.js"></script>
  <script src="components/angular-complete/angular.js"
        type="text/javascript"></script>
  <script src="components/angular-complete/angular-resource.js"
        type="text/javascript"></script>
  <script src="app.js"
        type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">

    <% include ../partials/signedinheader %>
</head>
<body class="container" ng-app="signUp" ng-controller="Bookings">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
          <h1>RocksBnB - feel at home, anywhere</h1>
            <h2>Requests</h2>
            <div ng-repeat="item in bookings">
              <br>
              <form action="/booking-approval" method="post" class="spacelisting">
                <p class="space-header"> Request for {{item.spaceName}} on {{item.date}}</p>
                <input type="hidden" name="bookingId" value="{{item._id}}">
                <input type="hidden" name="spaceId" value="{{item.spaceId}}">
                <input type="hidden" name="date" value="{{item.date}}">
              <button class="btn book-me" type="submit">Approve</button>
            </form>
            </div>
        </div>

    </main>



    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
