<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="signup.js"></script>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body class="container" ng-app="signUp" ng-controller="UserCreation">
  <div>
    {{test}}
  </div>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Feel at home, anywhere</h1>
            <p>Sign up to RocksBnB</p>
        </div>

        <form action="/signup" id="signupform" class="signupform" method="post">
          <input type="text" name="name" placeholder="Name"><br>
          <input type="email" name="email" placeholder="Email address"><br>
          <input type="password" name="password" placeholder="Password"><br>
          <input type="password" name="passwordConfirmation" placeholder="Confirm your password"><br>
          <input type="submit" name="submit" value="Submit">
        </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
