<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="signup.js"></script>
  <script src="components/angular-complete/angular.js"
        type="text/javascript"></script>
  <script src="components/angular-complete/angular-resource.js"
        type="text/javascript"></script>
  <script src="app.js"
        type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
    <% include ../partials/head %>

</head>

<body class="container" ng-app="signUp" ng-controller="UserCreation">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
            <h1>RocksBnB - feel at home, anywhere</h1>
            <p>Sign up to RocksBnB</p>
            <p><%= message %></p>
        </div>

        <form action="/signup" id="signupform" class="signup-form" method="post">
          <input class="signup-input" type="text" name="name" placeholder="Name"><br>
          <input class="signup-input" type="email" name="email" placeholder="Email address"><br>
          <input class="signup-input" type="password" name="password" placeholder="Password"><br>
          <input class="signup-input" type="password" name="passwordConfirmation" placeholder="Confirm your password"><br>
          <input class="btn" type="submit" name="submit" value="Submit">
        </form>

        <form action="/login" id="login" class="login" method="get">
          <input class="btn" type="submit" name="submit" value="Login">
        </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
