<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link rel="stylesheet" href="style.css">

    <% include ../partials/signedinheader %>
</head>

<body class="container" ng-app="signUp" ng-controller="UserCreation">

  <header>
      <% include ../partials/header %>
  </header>

<main>
    <div>
      <h1>RocksBnB - feel at home, anywhere</h1>
        <p>Thank you for your booking request</p>
        <p>The owner will respond to you shortly</p>
    </div>


</main>
